{% extends 'base.html' %}

{% block content %}

{% for post in featured_posts %}
  {% if forloop.first %}
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('{{ post.featured_image.url }}');background-blend-mode: overlay;background-size:cover;">
      <div class="col-md-8 px-0">
        <h1 class="display-4 font-italic">{{ post.title }}</h1>
        <p class="lead my-3">{{ post.short_description| truncatewords:15 }}</p>
        <p class="lead mb-0"><a href="{% url 'blogs' post.slug %}" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
  {% endif %}
{% endfor %}
  <h2 class="text-warning">Featured Posts</h2>
  <div class="row mb-2">
{% for post in featured_posts %}
  {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <a href="{% url 'blogs' post.slug %}">
            <h3 class="text-dark">{{ post.title }}</h3>
          </a>
          <small class="mb-1 text-muted">{{ post.created_timestamp|date:"M d, Y" }} | {{ post.author }}</small>
          <p class="card-text">{{ post.short_description | truncatewords:15 }}</p>
        </div>
      </div>
    </div>
  {% endif %}
 {% endfor %}
  </div>
 

  <main role="main" class="container p-0">
    <h2 class="text-warning">Recent Articles</h2>
    <div class="row">
      {% for post in normal_posts %}
      {% if forloop.first %}
      <div class="col-md-8 blog-main">
        <div class="blog-post">
          <a href="{% url 'blogs' post.slug %}">
            <h2 class="blog-post-title text-dark">{{ post.title }}</h2>
          </a>
          <p class="blog-post-meta">{{ post.created_timestamp|date:"M d, Y" }} by <a href="#">{{ post.author }}</a></p>

          <p>{{ post.short_description| truncatewords:15 }}</p>
        </div>
        <!-- /.blog-post -->

      </div>

      <aside class="col-md-4 blog-sidebar">
        {% if about %}
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-italic">About - {{ about.author|capfirst }}</h4>
          <p class="mb-0">{{ about.description }}</p>
        </div>

        <div class="p-3">
          <h4 class="font-italic">Follow Us</h4>
          <ol class="list-unstyled">
            <li><a href="{{ about.github }}" target="_blank">GitHub</a></li>
            <li><a href="{{ about.linkedin }}" target="_blank">LinkedIn</a></li>
          </ol>
        </div>
        {% endif %}
      </aside><!-- /.blog-sidebar -->
      {% else %}

      <div class="col-md-8 blog-main">
        <div class="blog-post">
          <a href="{% url 'blogs' post.slug %}">
            <h2 class="blog-post-title text-dark">{{ post.title }}</h2>
          </a>
          <p class="blog-post-meta">{{ post.created_timestamp|date:"M d, Y" }} by <a href="#">{{ post.author }}</a></p>

          <p>{{ post.short_description| truncatewords:15 }}</p>
        </div>
        <!-- /.blog-post -->

      </div>
      {% endif %}
      {% endfor %}
      <!-- /.blog-main -->

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>

{% endblock %}