{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2>Search Results for "{{ keyword }}"</h2>
 <div class="row mb-2">
{% for post in search %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <a href="{% url 'blogs' post.slug %}" class="text-dark">
            <h3>{{ post.title }}</h3>
          </a>
          <small class="mb-1 text-muted">{{ post.created_timestamp|date:"M d, Y" }} | {{ post.author }}</small>
          <p class="card-text">{{ post.short_description | truncatewords:15 }}</p>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="mt-2">No posts found.</p>
 {% endfor %}
  </div>
{% endblock %}